@import "../../variables";

.employees-table > tbody {
  display: flex;
  flex-direction: column;

  > * {
    display: grid;
    grid-template-columns: auto minmax(320px, 2fr) minmax(160px, 1fr) minmax(160px, 1fr) auto;
  }

  > tr > th {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:not(:last-child) {
      cursor: pointer;
    }

    .name {
      text-transform: uppercase;
      color: $black;
      line-height: 20px;
      font-size: 0.75rem;
      padding-right: 0.25rem;
    }

    .order-icon {
      display: inline-flex;
      font-size: 1.25rem;

      &.-active {
        color: $accent-color;
      }

      &.-down {
        transform: rotate(180deg);
      }
    }
  }

  > tr:first-child {
    padding: 0 1.5rem;
  }

  > tr > th.employee {
    margin-left: calc(48px + 2.5rem);
  }

  > tr > th ~ th:not(.employee) {
    margin-left: 1.5rem;
    width: 92px;
  }

  > tr:not(:first-child) {
    border-radius: 1rem;
    background: white;
    padding: 1.5rem;
    margin: 0.5rem 0;
    box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.07), 0 2px 4px hsla(0, 0%, 0%, 0.05);
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.02);

      .button-component.-delete {
        color: #D76061;
      }
    }
  }

  > tr > td {
    height: 48px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  > tr > td.select {
    padding: 0;
    align-items: center;
    cursor: pointer;
  }

  > tr > td:not(.select) {
    padding: 0 0.5rem 0 1.5rem;
  }

  > tr > td.employee {
    flex-wrap: wrap;

    img {
      border-radius: 3rem;
      width: 48px;
      height: inherit;
      margin-right: 1rem;
    }

    .name {
      font-weight: bold;
    }
  }

  > tr > td.salary {
    > .salary {
      font-weight: 500;
    }
  }

  > tr > td.status {
    > .status {
      font-weight: 500;
    }
  }

  > tr > td.manage {
    flex-direction: row;
    justify-content: flex-start;

    > .button-component {
      border-radius: initial;
      padding: 0 0.5rem;
    }

    > .button-component:not(:last-child) {
      border-right: 1px solid $purple-light-2;
    }
  }
}
