@import "../../variables";

.side-bar {
  background: white;
  border-radius: 1rem;
  padding: 2rem 0;
  position: relative;
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.07), 0 2px 4px hsla(0, 0%, 0%, 0.05);
  height: fit-content;

  .button-component.-calltoaction {
    position: absolute;
    bottom: -1.5rem;
    left: 5.5rem;
    line-height: 40px;
    font-size: 1.5rem;
    padding: 8px 48px;
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.10);
  }

  .button-component:not(.-calltoaction) {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: initial;
    padding: 1rem 2rem;
    width: 100%;
    font-family: $body-font;
    font-weight: 400;

    > .logo {
      width: 48px;
      height: 48px;
      overflow: hidden;
      border-radius: 3rem;
      background: aqua;
      color: white;
      line-height: 48px;
    }

    > .logo .-internia-icon {
      width: 100%;
      transform: scale(2);
    }

    > .name {
      margin-left: 1rem;
      font-size: 1.2rem;
      color: $black-tint;
    }
  }

  .section .title {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    color: hsl(246, 10, 81);
    padding: 1rem 2rem;
  }
}
