$primary-color: hsl(168, 55, 53);
$accent-color: hsl(261, 68, 60);

$purple-tint: hsl(259, 18, 97);
$purple-light-2: hsl(259, 12, 84);

$blue-dull: hsl(259, 7, 56);

$black: hsl(0, 0, 18);
$black-tint: hsl(0, 0, 38);

$display-font: 'Montserrat Alternates', sans-serif;
$body-font: 'Montserrat', sans-serif;


